@font-face {
    font-weight: 400;
    font-family: "Montserrat";
    font-style: normal;
    src: url("fonts/Montserrat-Regular.woff") format("woff");
  }
  
  @font-face {
    font-weight: 700;
    font-family: "Montserrat";
    font-style: normal;
    src: url("fonts/Montserrat-Bold.woff") format("woff");
  }
  
  html,
  body {
    margin: 0;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    background: #c7b39b url(pixel.webp);
  }
  
  body {
    min-width: 430px;
    border: 2px dashed #c7e4ff;
  }
  
  html::before,
  body::before,
  header::before,
  footer::before,
  main::before {
    color: #7fc1ff;
  }
  
  main,
  header,
  footer {
    background-color: #ded9fc;
    border: 2px solid #7fc1ff;
  }
  
  nav { 
    font-family: Arial, Helvetica, Verdana, sans-serif; 
    font-size: 160%; 
    font-weight: bolder; 
    width: 30%;
    background-color: #ded9fc;
   }
article {
    font-size: 120%; 
    font-weight: bolder; 
    width: 30%;
   }
main {
   width: 50%;
}
label {
   font-size: 120%; 
    font-weight: bolder; 
    margin-left: 0%
}
  nav,
  article {
    background-color: #f9f7ff;
    border: 3px solid #9779ec;
  }
  .btn {
	cursor: pointer;
}
  .menu{
    cursor: pointer;
    background-color: none;
    border:  none;
    color: #7B68EE;
    font-size: 18px;
  }
  
  .record{
    background-color: none;
    border:  3px solid #2c216e;
    color: #2c216e;
    font-size: 14px;
  }

  * {
    position: relative;
    padding: 25px 25px 20px;
    margin: 0;
    border-radius: 4px;
  }
  
  *:not(:last-child) {
    margin-bottom: 20px;
  }
  
  *::before {
    position: absolute;
    top: 8px;
    left: 10px;
    font-weight: 700;
    font-size: 11px;
    line-height: 10px;
    letter-spacing: 0.04em;
  }
  