<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
    <link rel="stylesheet" href="../styles/StartStyle.css">
    <link rel="icon" type="image/x-icon" href="favicon-32x32.png">
    <script src="../JS/StartScript.js"></script>
</head>
<body>

    <form action="Game.html" method="get">
        <label>
            Tell about yourself<br><br>
            <input placeholder="Your name" name="inputName"><br><br>
        </label>
        <input type="submit" value="Go =>" onclick="store(this.form);">
    </form>

    <div id="leaderboard-results">
        <p>Records:</p>
    </div>

</body>
</html>